
{{- define "search_results" -}} 
<section class="col-md-10 offset-md-1 p-3 p-lg-5 d-flex flex-column">
  <div class="my-auto" >
    <form action="{{ "search" | absURL }}">
      <input id="search-query-1" type="text" name="s" placeholder="Enter Keywords" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search...'"/>
    </form>
    <div id="search-results">
     <h3>Matching pages</h3>
    </div>
  </div>
</section>
<script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}" class="search-summary">
      <h4><a href="${link}">${title}</a></h4>
      <p>${snippet}</p>
      ${ isset tags }<p>Tags: ${tags}</p>${ end }
      ${ isset categories }<p>Categories: ${categories}</p>${ end }
    </div>
</script>
{{ end }}