#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 2000;
    background: #000;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #000;
}

#dismiss:hover {
    background: #ddd;
    color: #000;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(216, 1, 1, 0.5)/*rgba(255, 255, 255, 0)*/;

    z-index: 1500;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    background: #000;
    border-bottom: 1px solid white;
    padding: 0px 20px;
    height: 40px;
}


#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #000;
    list-style: none;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 2px 10px;
    font-size: 1.2em;
    display: block;
    text-transform: uppercase;
    letter-spacing: -0.08rem;
    font-weight: 600;

}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #000;
    padding: 2px 10px;
}
.sidebar-entries { list-style: none;
padding: 8px 10px; }

.sidebar-header h3 {
font-size: 1.8rem;
text-decoration: none;
font-weight: 720;
letter-spacing: -.02em;}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}